.search_form {
  position: relative;

  width: 2.4rem;
  height: 2.4rem;
  padding: .2rem;

  background-color: white;
  box-shadow: 0 4px 24px hsla(222, 68%, 12%, .1);

  border-radius: 1.2rem;
  overflow: hidden;  
  transition: width .5s ease-in-out;

  .search_form__input {
    border-radius: 1rem;
    border: none;
    outline: none;

    width: calc(100% - 2rem);
    height: 100%;
    padding-left: .4rem;
    
    opacity: 0;
    pointer-events: none;
    transition: opacity 1.5s ease-in-out;
  }

  .search_form__btn {
    width: 2rem;
    height: 2rem;
    background-color: black;
    border-radius: 50%;
    
    position: absolute;
    top: 0;
    bottom: 0;
    right: .2rem;
    margin: auto;

    display: grid;
    place-items: center;

    cursor: pointer;
    
    & > i {
      font-size: 1.3rem;

      position: absolute;
      transition: opacity .5s ease-in-out;
    }

    .search_form__btn-close {
      opacity: 0;
    }
  }

  &.show {
    width: 100%;
    .search_form__input {
      opacity: 1;
      pointer-events: initial;
    }
    .search_form__btn {
      .search_form__btn-search {
        opacity: 0;
      }
      .search_form__btn-close {
        opacity: 1;
      }
    }
  }
}